$cantidad_imagenes: 9;
$duracion_animacion: 2s;
$ciclo_completo: $duracion_animacion * $cantidad_imagenes;

img.imagen-deslizable{
    width: 300px;
    height: 540px;
    animation-duration: $duracion_animacion;

    

}