$number_of_slides: 6;
$time_per_slide: 2s;
$slider_complete_cycle: $time_per_slide * $number_of_slides;

div{

    .showcase-slider-container{
        width: 300px;
        height: 540px;
        position: absolute;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19);
        
        // CENTRADO
        transform: translate(-50%, -50%);

        // animación
        animation: come-in-out $slider_complete_cycle infinite forwards;

        // delay animation and set different color to slides
        @for $i from 1 through $number_of_slides{
        &:nth-of-type(#{$i}){
            animation-delay: $time_per_slide * ($i - 1);
            background: adjust-hue(skyblue, $i * 30deg);
            }
        }
    }

    img.showcase-slider{
        height: inherit;
        position: absolute;
        top: 0px;
        background-size: cover;
        
        color: white;
        font-family: Helvetica;
        font-size: 100px;
        text-align: center;
        line-height: 350px;
    }
}


@keyframes come-in-out{
  0%{transform: translate(-100%)}
  8%{transform: translate(-100%)}
  10%{transform: translate(0px)}
  30%{transform: translate(0px)}
  32%{transform: translate(-100%)}
  100%{transform: translate(-100%)}
}