@import "colores";
/* Fuente importada de Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

/* Mixin que encapsula la estructura base de cajas para el header y aside */
@mixin estructuraCaja($proporcion,$bordeRadio) {
    
    background-image: radial-Gradient(center, ellipse, transparent, $violeta-paleta);
    /* Para que soporte a otros navegadores */
    background-image: -moz-radial-gradient(center, ellipse, transparent, $violeta-paleta);
    background-image: -webkit-radial-gradient(center, ellipse, transparent, $violeta-paleta);
    background-image: -o-radial-gradient(center, ellipse, transparent, $violeta-paleta);
    /* Prpiedades del borde */
    border-top: groove $proporcion $violeta-paleta;
    border-bottom: groove $proporcion $rosa-paleta;
    border-left: groove ($proporcion * 2) $violeta-paleta;
    border-right: groove ($proporcion * 2) $rosa-paleta;
    /* Forma y distribución */
    display: inline-block;
    border-radius: $bordeRadio;
    justify-content: center;
    align-items: center;

} /* fin estructuraCaja */

/* Mixin para las imágenes con links a las redes sociales */
@mixin imgRedes {
    
    .imagenRedes:hover{
        animation-name: anim_redes;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
    }

} /* Fin imgRedes */

/* Mixin para evitar la duplicación de código */
@mixin codigoBase($gtp1,$gtp2,$prophead,$bordehead,$fsnav,
                $propaside,$bordeaside,$fsas,$mtas,$hgRedes,
                $mgRedes,$pdRedes,$fsfoo,$hgln){
 /* Definición de las variables:
    
    $gtp1 = proporción para la 1ra columna de la estructura de grilla
    $gtp2 = idem para la segunda
    $prophead y $bordehead = variables para el mixin estructuraCaja destinado al header
    $propaside y $bordeaside = idem para el aside
    $fsnav = font-size dentro del nav
    $fsas = idem para el párrafo del aside
    $fsfoo = idem para el texto del footer
    $mtas = margin-top para el párrafo del aside
    $hgRedes, $mgRedes y $pdRedes = altura, margin y padding para las imágenes de enlace a redes deñ aside
    $hgln = idem para la imagen de enlace a LinkedIn
   */

    html body{

        text-shadow: rgba(0, 0, 0, 0.25) 1px 1px;

        #contenedor{

            grid-template-areas: 
                "header aside"
                "nav nav"
                "main main"
                "footer footer";
            grid-template-columns: $gtp1 $gtp2;
            grid-template-rows: 3fr 1fr auto 1fr;
            gap: 10px 5px;

            header{

                @include estructuraCaja($prophead, $bordehead);

                img{
                    margin: 0.5%;
                }

            } /* fin header */

            nav{

                font-size: $fsnav;
                border-radius: 20px;
                top: 10px;

                ul{
                    justify-content: space-evenly; 
                    li:hover{
                        text-shadow: rgba(217, 102, 45, 0.5) 1px 1px;
                    }
                }

            } /* Fin nav */

            aside{
                @include estructuraCaja($propaside, $bordeaside);
                grid-template-areas: 
                    "texto texto"
                    "fb ig";
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;

                p{
                    grid-area: texto;
                    font-size: $fsas;
                    margin-top: $mtas;
                }

                .imagenRedes{
                    height: $hgRedes;
                    margin: $mgRedes;
                    padding: $pdRedes;
                }

            } /*fin aside */

            footer{

                font-size: $fsfoo;
                margin-top: 5px;

                address{
                    margin-left: 20px;
                }
                a img.imagenRedes{
                    height: $hgln;
                }

            } /* Fin footer */

            main{
                border-radius: 30px;
                font-size: 2rem;
            }

        } /* Fin #contenedor */

    } /* Fin html body */

}

/* Media queries para diferentes dispositivos */

/* Celulares en vertical */
@media (min-width: 320px) and (max-width: 599px) and (orientation: portrait){

    @include codigoBase(3fr, 2fr, 2px, 20px, 1rem, 3px, 20px, 
                        1rem, 20%, 30px, 5px, 5px, 1rem, 15px);

    html body #contenedor{

        header img{
                width: 143px;
        }

        nav ul{

            li{
                display: inline;
            }

            li#linkInicio, li#linkContacto{
                margin-right: 10%;
            }
        }

        aside{

            p{
                margin-left: 10%;
            }

            #fb{
                margin-left: 10px;
            }

        }

    } /* fin html body*/

} /* fin diseño portrait para celulares */

/* Celulares en horizontal */
@media (min-width: 600px) and (max-width: 900px) and (orientation: landscape){

    @include codigoBase(75%, 25%, 2px, 20px, 1.5rem, 3px, 20px, 
                        1rem, 20%, 30px, 5px, 5px, 1rem, 15px);

    html body #contenedor{
                
        header img{
                width: 143px;
        }

        nav ul{ 

            li{
                display: inline;
            }

            li#linkInicio, li#linkContacto{
                width: 15%;
            }
        }


        aside{

            p{
                margin-left: 10%;
            }

            #fb{
                margin-left: 10px;
            }

        } /* fin aside */

    } /* fin html body #contenedor */

} /* fin diseño portrait para celulares en horizontal */

/* Tablets en horizontal */
@media (min-width: 600px) and (max-width: 1023px) and (orientation: portrait){

    @include codigoBase(3fr, 1fr, 5px, 5%, 2rem, 3px, 30px, 2rem, 
                        15%, 35px, 5px, 5px, 1.5rem, 25px);

    html body #contenedor{

        nav ul{ 
            
            li{
            display: block;
            }
    
            li#linkServicios{
                width: 15%;
            }
        }

        aside #fb{
            margin-left: 15%;
        } /* fin aside */


    } /* fin html body #contenedor */


} /*fin diseño tablets en horizontal*/

/* laptops y PCs de escritorio */
@media (min-width: 1024px){

    @include codigoBase(78%, 22%, 5px, 5%, 2rem, 3px, 30px, 2rem, 
                        15px, 40px, 10px, 10px, 1.5rem, 15px);

    html body #contenedor{

        nav ul{ 
            
            li{
            display: block;
            }
    
            li#linkServicios{
                width: 15%;
            }
        }

        aside{

            p{
                margin-left: 10%;
            }

            #fb{
                margin-left: 15%;
            }

        } /* fin aside */

    } /* fin html body #contenedor*/

} /* fin Diseño para laptops y PCs de escritorio */

html{
    font-size: 62.5%; /* Deja las unidades REM en 1 rem = 10px aprox */

    body{
        background-image: url("../res/fondo.jpg");
        background-attachment: fixed;
        font-family: 'Gelasio', serif;
        

        #contenedor{
            
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 10%;
            /* Distribución en grilla de los elementos */
            justify-self: center;
            align-self: center;
            display: grid;

            header{
                grid-area: header;
                display: flex;

                img{
                    border-radius: 100%;
                }

            } /* fin header */

            nav{
                background-color: rgba(119,186,203,0.75);
                font-weight: bold;
                list-style-position: inside;
                position: sticky;
                grid-area: nav;
                align-items: center;

                ul{
                    list-style-type: disc;
                    list-style-position: inside;
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;

                    li{
                        transition: all 2s;

                        &:hover{
                            font-weight: bold;
                            transform: scale(1.25,1.25);
                        }

                    }

                }

            } /* fin nav */

            aside{
                
                align-items: center;
                justify-content: center;
                @include imgRedes;
                grid-area: aside;

                p{
                    color: $amarillo-paleta;
                    font-weight: bold;
                }

                #ig{
                    grid-area: ig;
                }
                
                #fb{
                    grid-area: fb;
                }

            } /* fin aside */

            footer{
                text-align: center;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-evenly;
                grid-area: footer;

                span{
                    font-weight: bold;
                    display: inline-block;
                }

                address{
                    
                    display: inline-block;

                    &:hover{
                        color: $violeta-paleta;
                    }

                }

                a{
                    display: inline-block;
                    @include imgRedes;
                }

            } /* fin footer */

            main{
                background-color: rgba(217,102,45,0.25);
                text-align: center;
                grid-area: main;
            }

        } /* fin div contenedor */

    } /* fin body */ 

} /* fin etiqueta html */

/* Estilos comunes a todos los links */

a {
    &:link{
        text-decoration: none;
        color: $violeta-paleta;
    }
    
    &:hover{
        font-style: italic;
    }
    
    &:active{
        color: $rosa-paleta;
        font-weight: bold;
    }
}

/* Animaciones */

@keyframes anim_redes{

    0% {transform: scale(1);}
    25% {transform: scale(1.5);}
    50% {transform: scale(1);}
    75% {transform: scale(0.5);}
    100% {transform: scale(1);}

}