@import "colores";
@import "estilo-base";

/* Mixins */

@mixin inputs {
    @include borde;
    display: inline-block;
    font-family: 'Lobster', cursive, sans-serif;
    border-width: 3px;
    border-radius: 3px;
}

@mixin borde {
    border-top: groove 5px $violeta-paleta;
    border-bottom: groove 5px $rosa-paleta;
    border-left: groove 10px $violeta-paleta;
    border-right: groove 10px $rosa-paleta;
}

/* Estructura */

h1{
    font-size: 3rem;
    font-weight: bold;
}

h2{
    font-size: 2rem;
    span:hover{
        color: $violeta-paleta;
    }
}

form{
    @include borde;
    border-radius: 10px;
    width: 50%;
    margin-left: 25%;
    /* Fondo radial */
    background-image: radial-Gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -moz-radial-gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -webkit-radial-gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -o-radial-gradient(center, ellipse, transparent, $naranja-paleta);

    fieldset{
        border-style: none;

        #grilla{
            justify-self: center;
            align-self: center;
            display: grid;
            grid-template-areas: 
                "legend legend legend legend"
                "labelnombre tfnombre labelemail tfemail"
                "labeltelefono tftelefono labeltipocons cbtipocons"
                "labelconsulta labelconsulta labelconsulta labelconsulta"
                "textarea textarea textarea textarea"
                "check labelcheck labelcheck labelcheck"
                "botonenviar botonenviar botonrecibir botonrecibir";
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr auto 1fr 2fr;
            align-items: center;
            row-gap: 10px;

            legend{
                font-size: 2.5rem;
                grid-area: legend;
                justify-self: center;
            }

            input{
                @include inputs;
            } /* Fin input */

            .textfield{
                
                transition: all 2s;

                &:focus{
                    transform: scale(1.5);
                }
            
            }

            .boton{
                display: block;
                transform: scale(1.25);
                transition: all 2s;

                &:hover{
                    transform: scale(1.5);
                }

                &:active{
                    animation-name: anim_boton;
                    animation-fill-mode: backwards;
                    animation-duration: 2s;
                    animation-delay: 0s;
                }

            } /* Fin .boton */

            select{
                @include inputs;
            }

            textarea{
                @include inputs;
                margin-bottom: 2rem;
                grid-area: textarea;
                justify-self: center;
            }

            /* Distribución dentro de la grilla */

            #labelnombre{
                grid-area: labelnombre;
                justify-self: right;
            }
            
            #tfnombre{
                grid-area: tfnombre;
                justify-self: left;
            }
            
            #labelemail{
                grid-area: labelemail;
                justify-self: right;
            }
            
            #tfemail{
                grid-area: tfemail;
                justify-self: left;
            }
            
            #labeltelefono{
                grid-area: labeltelefono;
                justify-self: right;
            }
            
            #tftelefono{
                grid-area: tftelefono;
                justify-self: left;
            }
            
            #labeltipocons{
                grid-area: labeltipocons;
                justify-self: right;
            }
            
            #cbtipocons{
                grid-area: cbtipocons;
                justify-self: left;
            }
            
            #labelconsulta{
                grid-area: labelconsulta;
                justify-self: center;
            }
            
            #check{
                grid-area: check;
                justify-self: right;
            }
            
            #labelcheck{
                grid-area: labelcheck;
                justify-self: left;
            }
            
            #botonenviar{
                grid-area: botonenviar;
                justify-self: center;
            }
            
            #botonrecibir{
                grid-area: botonrecibir;
                justify-self: center;
            }

            /* Fin posicionamiento dentro de la grilla */

        } /* Fin grilla */

    } /* Fin fieldset */

} /* Fin form */

/* Animaciones */

@keyframes anim_boton{

    100%{
        transform: scale(3);
        filter: opacity(0%);
    }

}