@import "colores";
@import "estilo-base";

@mixin borde {
    
    border-radius: 20px;
    background-image: radial-Gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -moz-radial-gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -webkit-radial-gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -moz-radial-gradient(center, ellipse, transparent, $naranja-paleta);

}

/* Diseño responsivo */

/* Celulares en vertical */
@media (min-width: 320px) and (max-width: 1023px) and (orientation: portrait){

    .imgDemostrativa{
        width: 50%;
        border-radius: 10%;
        transition-duration: 2s;
        &:hover{
            transform: scale(1.5);
        }
    }
    
    table tr td.descripcion{
        font-size: 1.75rem;
        word-spacing: 0.75rem;
    }
    
} /* fin diseño para celulares en vertical */

/* Celulares en horizontal */
@media (min-width: 320px) and (max-width: 1023px) and (orientation: landscape){

    .imgDemostrativa{
        width: 50%;
        border-radius: 10%;
    }
    
    table tr td.descripcion{
        font-size: 1.75rem;
        word-spacing: 0.75rem;
    }
    
} /* fin diseño para celulares en horizontal */

/* laptops y PCs de escritorio */
@media (min-width: 1024px){

    main section {

        table tr td{
            .descripcion{
                font-size: 1.75rem;
                word-spacing: 0.75rem;
            }
        }

        #babylights, #balayage, #fantasia, #totalColor, #peinado, #maquillado, #manicura{

            img.imgDemostrativa{
                width: 40%;
                border-radius: 10%;
            }

            p.infoDesc{
                width: 60%;
            }

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: nowrap;
        }

    }

} /* fin diseño laptops y PCs de escritorio */

main{

    section{

        h1,h2{
            font-size: 3rem;
            color: $violeta-paleta;
            &:hover{
                color: $rosa-paleta;
            }
        }

        table{

            tr{

                td{
                    border-bottom: 1px solid $violeta-paleta;
                    border-right: 1px solid $violeta-paleta;
                    border-radius: 20px;

                    &:hover{
                        @include borde;
                    }

                }
            } /* fin tr */

        } /* fin table */

        p:hover, ol:hover{

            @include borde;

        }

        iframe{
            width: 426; 
            height: 240;
            margin-top: 10px;
            border-radius: 10%;
        }

    } /* fin section */

} /* fin main */