@import "colores";
@import "estilo-base";

@mixin borde {
    
    border-radius: 20px;
    background-image: radial-Gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -moz-radial-gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -webkit-radial-gradient(center, ellipse, transparent, $naranja-paleta);
    background-image: -moz-radial-gradient(center, ellipse, transparent, $naranja-paleta);

}

/* Diseño responsivo */

/* Celulares en vertical */
@media (min-width: 320px) and (max-width: 812px) and (orientation: portrait){

    .imgDemostrativa{
        width: 50%;
        border-radius: 10%;
    }
    
    table tr td.descripcion{
        font-size: 1rem;
        word-spacing: 0.75rem;
    }
    
} /* fin diseño para celulares en vertical */

/* laptops y PCs de escritorio */
@media (min-width: 1366px){

    main section {

        .imgDemostrativa{
            width: 25%;
            border-radius: 10%;
        }

        table tr td{
            .descripcion{
                font-size: 1.75rem;
                word-spacing: 0.75rem;
            }
        }

    }

} /* fin diseño laptops y PCs de escritorio */

main{

    section{

        h1,h2{
            font-size: 3rem;
            color: $violeta-paleta;
            &:hover{
                color: $rosa-paleta;
            }
        }

        table{

            tr{

                td{
                    border-bottom: 1px solid $violeta-paleta;
                    border-right: 1px solid $violeta-paleta;
                    border-radius: 20px;

                    &:hover{
                        @include borde;
                    }

                }
            } /* fin tr */

        } /* fin table */

        p, ol:hover{

            @include borde;

        }

        iframe{
            width: 426; 
            height: 240;
            border-radius: 10%;
        }

    } /* fin section */

} /* fin main */